{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/land.css"/>
{% endblock %}


{% block header %}
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="../">
                                <label for="file-input">
                                    <img src="resources/Logo1.png"/>
                                </label>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-centered">
                                    <ul>
                                        {% if logged %}
                                        <li class="is-active"><a href="{{ url_for('dash-show') }}">Account</a></li>
                                        {% endif %}
                                    </ul>
                                    {% if logged %}
                                        <form action="{{ url_for('logout-post') }}" method="POST" >
                                            <span class="navbar-item">
                                                <button class="button is-light">
                                                    <span class="icon" style="color: black">
                                                        <i class="fas fa-door-open"></i>
                                                    </span>
                                                    <span title="Hello from the other side" class="has-text-black has-text-centered">Log Out</span>
                                                </button>
                                            </span>
                                        </form>
                                    {% else %}
                                        <form action="{{ url_for('sign-up-view') }}" method="GET" >
                                        <span class="navbar-item">
                                            <button class="button is-light">
                                                <span class="icon" style="color: black">
                                                    <i class="fas fa-user-plus"></i>
                                                </span>
                                                <span title="Hello from the other side" class="has-text-black has-text-centered">Sign Up</span>
                                            </button>
                                        </span>
                                        </form>

                                        <form action="{{ url_for('sign-in-view') }}" method="GET" >
                                        <span class="navbar-item">
                                            <button class="button is-white is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-sign-in-alt"></i>
                                                </span>
                                                <span title="Hello from this side">Sign In</span>
                                            </button>
                                        </span>
                                        </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <img class="logo" src="resources/Logo1.png" width="256" height="256">
                    <h1 class="title">
                        PW PAY: la forma més fàcil de gestionar els teus diners!
                    </h1>
                    <h2 id="klk" class="subtitle">
                        Amb la nova pàgina web PW PAY podràs enviar, rebre i fer ingressos al teu compte bancari de manera àgil i senzilla.<br/>
                        Una web creada per dos enginyers catalans de La Conca de Barberà feta en honor a l'Andrea, que va tornar a Mèxic <br/>degut a la pandèmia del SARS-CoV-2 i la COVID-19.
                    </h2>
                </div>
            </div>
        </section>
{% endblock %}

{% block body %}
        <section class="hero is-light">
            <div class="hero-body">
                <div class="columns is-centered" id="baixa">
                    <div class="column has-text-centered">
                        <i class="fas fa-tachometer-alt fa-7x"></i>
                    </div>
                    <div class="column has-text-centered">
                        <i class="fas fa-shield-alt fa-7x"></i>
                    </div>
                    <div class="column has-text-centered">
                        <i class="fas fa-box-open fa-7x"></i>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        El servei més ràpid de la república
                    </div>
                    <div class="column has-text-centered">
                        Protegit per la justícia de bèlgica
                    </div>
                    <div class="column has-text-centered">
                        97% transparent (3% menys per problemes tècnics)
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block footer %}
    <footer  class="hero-foot is-light">

    </footer>

{% endblock %}
